@use "sass:list";
@use "sass:string";

// Generate Duration && Delay

$delay-selectors: ();
@for $i from 1 through 60 {
  $val: $i * 50;
  $delay-selectors: list.append(
    $delay-selectors,
    string.unquote(
      'body[data-aos-delay="#{$val}"] [data-aos], [data-aos][data-aos-delay="#{$val}"]'
    ),
    comma
  );
}

#{$delay-selectors} {
  transition-delay: 0s;
}

[data-aos] {
  @for $i from 1 through 60 {
    $val: $i * 50;

    body[data-aos-duration="#{$val}"] &,
    &[data-aos-duration="#{$val}"] {
      transition-duration: #{$val}ms;
    }

    body[data-aos-delay="#{$val}"] &.aos-animate,
    &[data-aos-delay="#{$val}"].aos-animate {
      transition-delay: #{$val}ms;
    }
  }
}

[data-aos] {
  pointer-events: none;
  &.aos-animate {
    pointer-events: auto;
  }
}
